<div class="row">
    <div class="col-sm-5" ng-repeat ="user in users">
        
        <div class="panel panel-primary">
            <div class="panel-heading">{{user.name}}</div>
            <div class="panel-body">
                <div>
                    Userame : {{user.username}}
                </div>
                <div>
                    Email: {{user.email}}
                </div> 
                <div>
                    Phone: {{user.phone}}
                </div> 
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary" ng-click="viewTodo(user.id)">View Todo</button>
            </div>
        </div>
    </div>
</div>